

.socials {
  position: fixed;
  top: 35%;
  right: 0;
  background-color: rgb(15, 243, 255);
  width: 50px;
  padding: 10px 5px;
  border-radius: 20px 0 0 20px;
}

.socials img {
  width: 100%;
}

/* @media (max-width: 600px) {
  .socials {
    display: none;
  }
} */



.main-section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.introduction {
  width: 40vw;
  padding: 30px;
  border-left: 4px solid rgb(15, 243, 255);
}

.headshot {
  width: 350px;
  
  border-radius:175px;
  padding: 40px;
  margin-left: 10vw;
}

@media screen and (max-width: 1000px) {
  .main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  .introduction {
    width: 90vw;
    border-left: none;
    text-align: center;
  }

  .headshot {
    margin-left: 0;
    padding: 40px 0;
  }
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 8px 8px 0;
  padding: 15px;
  display: inline-block;
  transform: rotate(45deg);
}

.bounce {
  padding: 50px 0 0 50px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.work-section {
  background-color: rgb(74, 17, 149);
  padding: 80px 50px;
}

.work-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-card {
  width: 25%;
  background-color: rgb(64, 9, 112);
  margin: 10px;
  padding: 0 50px 50px 50px;
}

@media screen and (max-width: 1000px) {
  .work-card {
    width: 100%;
  }
  .bounce {
    padding: 50px 0 0 0;
  }
}

.condiviso {
  text-decoration: underline;
}


.html {
  border-top: solid 8px rgb(252, 153, 33);
}

.css {
  border-top: solid 8px rgb(38, 113, 242);
}

.js {
  border-top: solid 8px rgb(82, 182, 182);
}

.react {
  border-top: solid 8px rgb(239, 255, 66);
}
.native {
  border-top: solid 8px rgb(66, 255, 82)
}
.express {
  border-top: solid 8px rgb(229, 44, 44)
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quote-container {
  width: 40%;
  padding: 40px;
}

.about-container {
  width: 30%;
  padding: 80px 0;
}

@media screen and (max-width: 1000px) {
  .about-section {
    display: flex;
    flex-direction: column;
  }

  .about-container,
  .quote-container {
    padding: 100px 0;
    width: 80%;
  }
}

.quote {
  font-size: 40px;
  font-style: italic;
}

.quote-container p {
  float: right;
}


